:root{
    --main-color: #6f5da2;
    --secondary-color: #F4FBF6;
    --accent-color:#3f0a6b;

    --highlight-color: 0px 0px 90px 43px rgba(115,57,163,0.63);;
    --gradient: linear-gradient(45deg, rgb(117, 29, 139), rgb(60, 31, 128), rgb(33, 27, 121));
    --transparent-color: invert(10%);
    --border-today: hsl(0, 100%, 79%);
}


body{
    background:blueviolet;
    background-image: var(--gradient);
    background-size: 300%;
}

.elfdrei{
    grid-row: 6/span 2;
}

