:root{
    --main-color: #5da271;
    --secondary-color: #F4FBF6;
    --accent-color:#0a6b6b;

    --highlight-color: 0px 0px 90px 43px rgba(115,57,163,0.63);;
    --gradient: linear-gradient(45deg, rgb(34, 194, 56), rgb(17, 133, 133), rgb(6, 92, 126));
    --transparent-color: invert(10%);
    --border-today: hsl(98, 100%, 79%);
}


*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 600;
    min-height: 100dvh;
    /* overflow: hidden; */
    color: var(--secondary-color);
    background-image: var(--gradient);
    background-size: 300%;
    animation: bruh 15s infinite alternate;
    
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    align-items: center;
}

@keyframes bruh {
    0% {
        background-position: left;
    }
    100%{
        background-position: right;
    }
}

.wrapper{
    color: var(--secondary-color);
    /* background: var(--wrapper-color); */
    width: 80vw;
    height: 80vh;
    padding: 1rem;
    border-radius: 1rem;
    display: grid;

    grid-auto-flow: column;
    grid-template-rows: repeat(14, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    grid-auto-rows: max-content;
}
.wrapper > *{
    border: 2px solid var(--secondary-color);
    /* background: #596182; */
    backdrop-filter: var(--transparent-color);
    -webkit-backdrop-filter: var(--transparent-color);
    border-radius: .5rem;
    padding: .3rem;
    padding-bottom: 0;
}

.dropdown{
    display:none;
}

.today{
    border: 3px solid var(--border-today);
    /* box-shadow: var(--highlight-color); */
    display: flex;
    flex-direction: row;
}


div p{
    margin: 0;
    font-size: small;
    line-height: 1.1;
    font-weight: 500;
    filter: opacity(85%);
}



@media only screen and (max-width: 600px) {

    h1{
        margin: auto;
    }

    .wrapper{
        width: 100%;
        grid-template-columns: 1fr 2fr;
        height: 85vh;
    }


    .monday, .tuesday, .wednesday, .thursday, .friday{
        display: none;
    }
    .today{
        display: none;
    }
    .middag{
        grid-column: span 2;
        background: transparent;
    }
    
    .dropdown{
        display: block;
        position: relative;
    }

}





/* Hier ist Alignment shit für die Fächer*/


.day{
    grid-row: 1;
    align-items: center;
    justify-content: center;
}
.day.today{

    flex-direction: row;
}
.day.today::after{
    margin-left: .3em;
    content: "(heute)";
}
@media only screen and (min-width: 600px) {
    .day{
        display: grid;
    }
}
.timewrap{
    display: contents;
}
.timewrap > *{
    font-weight: 600;
    background: var(--secondary-color);
    border-radius: .5rem;
    color: var(--main-color);
    display: grid;
    justify-content: center;
    align-content: center;
}
.span-2{
    grid-row: span 2;
}
.span-3{
    grid-row: span 3;
}

@media only screen and (min-width: 600px) {
    .middag{
        grid-column: span 6;
    }
}

.earlylate{
    grid-row: 4/span 2;
}

.termi{
    grid-row: 9/span 4;
}

.extrawurst{
    grid-row: 3/span 2
}

.ua{
    grid-row: 9/span 6;
}

.termiFriday{
    grid-row: 4/span 4;
}

.listeningComp{
    grid-row: 9/span 4;
    border: 1px dashed;
}


/* -----------------Grid Stuff end----------------- */



/* -------------day selection----------------------- */

.dropdown{
    background: var(--accent-color);
    box-shadow:  0px 1px 5px #332d2d81;
    width: 80%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;

    display: flex;
    justify-content: space-evenly;
    font-size: 1.3rem;
}
@media only screen and (min-width: 600px) {
    .dropdown{
        display: none;
    }
}
.selectDay{
    cursor: pointer;
    color: var(--secondary-color);
    font-size: 1.3rem;
    background: transparent;
    border: none;
    text-align: center;

}
option{
    background: var(--accent-color);
}
option:hover{
    background: green;
}

.block{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    
}


.backward, .forward{
    cursor: pointer;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
    background: white;
    width: 1rem;
}
.forward{
    transform: rotate(180deg);
}



/* --------------final color shit--------------------- */
.middag{
    background-color: transparent;
    border: solid 1.5px var(--secondary-color);
    backdrop-filter: invert(20%);
}

.red{
    background: red;
}
.blueish{
    background: rgb(28, 130, 224);
}

